<a href="https://colab.research.google.com/github/alexandrenoal/bibliotecaspython/blob/main/aulas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
vet=[1,2,4,5,6,7,8,9,0]
print("Digite o número que deseja buscar: ")
num=int(input())
i = int(0)
encontrou =bool(0)
while(i<10 and encontrou == 0):
    if(num == vet[i]):
        encontrou = 1
    else:
        i+=1
if(encontrou == 1):
    print("O elemento foi encontrado na posição", i)
else:
    print("O elemento não foi encontrado")

Digite o número que deseja buscar:
1
O elemento foi encontrado na posição 0

In [ ]:
first = int(input("Enter the first number: "))

Enter the first number: 1

In [ ]:
Num=int(input("Insira o número de vezes que deseja imprimir: "))
for i in range (Num):
    print("ALGORITMOS.\n")

Insira o número de vezes que deseja imprimir: 0

In [ ]:
def fib(x):
    if(x == 0 or x == 1):
        return x
    else:
        return fib(x-2) + fib(x-1)

n = 7
resultado = fib(n)
print(resultado)

13

In [ ]:
x = 5
y = 10
z = 10

if (x <= 10):
 if (y <= 10):
  if (z <= 10):
            print(x, y, z)

5 10 10

In [10]:
def ObtemRegiao(uf):
    if (uf == "PA") or (uf == "AM") or (uf == "AP") or (uf == "RR") or (uf == "AC") or (uf == "RO") or (uf == "TO"):
        x = "Norte"
    if (uf == "BA") or (uf == "SE") or (uf == "AL") or (uf == "PE") or (uf == "PB") or (uf == "RN") or (uf == "CE") or (uf == "PI") or (uf == "MA"):
        x = "Nordeste"
    if (uf == "GO") or (uf == "MT") or (uf == "MS") or (uf == "DF"):
        x = "Centro-Oeste"
    if (uf == "SP") or (uf == "RJ") or (uf == "ES") or (uf == "MG"):
        x = "Sudeste"
    if (uf == "PR") or (uf == "SC") or (uf == "RS"):
        x = "Sul"
    return x

uf=str(input("Digite um Estado: "))
regiao=ObtemRegiao(uf)
print("Região do Estado: ", regiao)

Digite um Estado: RS
Região do Estado:  Sul

In [11]:
def soma ():
    num1=float(); num2=float(); total=float()
    print("Digite o primeiro numero :")
    num1=float(input())
    print("Digite o segundo numero :")
    num2=float(input())
    total = num1 + num2
    print("A soma e ", total)